<ion-view view-title="APADAVI" class="bg-yellow">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>  
  <ion-content class="padding bg-yellow">
    <ion-refresher on-refresh="doRefresh()" pulling-text="Recargar..." refreshing-text="Cargando..."></ion-refresher>    
    <h2 class="text-center">Informaciones APADAVI</h2>
    <div class="list list-inset">
      <div class="item item-card item-input bg-yellow-dark" style="border-color: #A10461;">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="search" placeholder=" Buscar por nombre/descripción" />
      </div>
    </div>
    <div ng-if="apadavi.length <= 0" class="text-center">No hay informaciones disponibles</div>
    <ion-list class="bg-yellow-dark" ng-if="apadavi.length > 0">
      <div ng-repeat="informacion in apadavi | filter:search" id="promocion">
      <ion-item class="item item-thumbnail-left item-icon-right item-text-wrap" href="#/app/apadavi/{{informacion.id}}">
        <img ng-src="{{url+''+informacion.apadavi_foto}}" >
        <h2 class="">{{informacion.apadavi_nombre}}</h2>
        <p>{{informacion.apadavi_descripcion}}</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>