<ion-view view-title="{{informacion.apadavi_nombre}}">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>	
	<ion-content class="padding bg-yellow">
		<div class="text-center">
			<h2>{{informacion.apadavi_descripcion}}</h2>
			<div class="text-center" ng-if="informacion.apadavi_url.length > 0">
				<br>
				<a class="button button-energized" ng-click="openURL('{{informacion.apadavi_url}}')">{{informacion.apadavi_url_descripcion}}</a>
				<br><br>
			</div>				
	        <video controls ng-show="informacion.apadavi_tipo_recurso == 'video'" width="500" style="margin-top: 10px;">
	          <source ng-src="{{url+informacion.apadavi_video}}" type="video/mp4">
	        </video>
            <div class="video-container" ng-show="informacion.apadavi_tipo_recurso == 'video'">
                <iframe ng-src="{{url+''+informacion.apadavi_video}}" frameborder="0" width="560" height="315"></iframe>
            </div>	        
			<a ng-click="openModalApadavi({{informacion.id}})" ng-show="informacion.apadavi_tipo_recurso == 'imagen'">
				<img ng-src="{{url+''+informacion.apadavi_foto}}" alt="{{url+''+informacion.apadavi_foto}}" width="500">
			</a>
		</div>
	</ion-content>
</ion-view>