<ion-view view-title="Calendario Escolar" class="bg-yellow">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>   
  <ion-content class="bg-yellow">
    <h2 class="text-center">Calendario Escolar</h2>
    <h4 class="text-center energized">2020-2021</h4>
    <div class="row text-center">
      <div class="col-33" style="padding: 1%;">&nbsp;</div>
      <div class="col-33" style="padding: 1%;">
        <img class="img-border" src="http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario.jpg"ng-click="openModalCalendario('http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario.jpg')">
      </div>
      <div class="col-33" style="padding: 1%;">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-33" ng-repeat="mes in calendario" style="padding: 1%;">
        <img class="img-border" ng-src="{{mes.calendario_foto}}" ng-click="openModalCalendario('{{mes.calendario_foto}}')">
      </div>       
    </div>      
  </ion-content>
</ion-view>