<ion-view view-title="Calendario Escolar" class="bg-yellow">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>   
  <ion-content class="bg-yellow">
    <h2 class="text-center">Calendario Escolar</h2>
    <h4 class="text-center energized">2019-2020</h4>
    <div class="row text-center">
      <div class="col">
        <img class="img-border" src="http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario.jpg" width="25%" ng-click="openModalCalendario('http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario.jpg')">
      </div>        
    </div>
    <div class="row">
      <div class="col">
        <img class="img-border" src="http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-01.jpg" ng-click="openModalCalendario('http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-01.jpg')">
      </div>
      <div class="col">
        <img class="img-border" src="http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-02.jpg" ng-click="openModalCalendario('http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-02.jpg')">
      </div>
      <div class="col">
        <img class="img-border" src="http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-03.jpg" ng-click="openModalCalendario('http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-03.jpg')">
      </div>        
    </div>
    <div class="row">
      <div class="col">
        <img class="img-border" src="http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-04.jpg" ng-click="openModalCalendario('http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-04.jpg')">
      </div>
      <div class="col">
        <img class="img-border" src="http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-05.jpg" ng-click="openModalCalendario('http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-05.jpg')">
      </div>
      <div class="col">
        <img class="img-border" src="http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-06.jpg" ng-click="openModalCalendario('http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-06.jpg')">
      </div>        
    </div>
    <div class="row">
      <div class="col">
        <img class="img-border" src="http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-07.jpg" ng-click="openModalCalendario('http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-07.jpg')">
      </div>
      <div class="col">
        <img class="img-border" src="http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-08.jpg" ng-click="openModalCalendario('http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-08.jpg')">
      </div>
      <div class="col">
        <img class="img-border" src="http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-09.jpg" ng-click="openModalCalendario('http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-09.jpg')">
      </div>        
    </div>
    <div class="row">
      <div class="col">
        <img class="img-border" src="http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-10.jpg" ng-click="openModalCalendario('http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-10.jpg')">
      </div>
      <div class="col">
        <img class="img-border" src="http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-11.jpg" ng-click="openModalCalendario('http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-11.jpg')">
      </div>
      <div class="col">
        <img class="img-border" src="http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-12.jpg" ng-click="openModalCalendario('http://leonardo-da-vinci.edu.do/img/calendario/Da-Vinci-Calendario-12.jpg')">
      </div>        
    </div>      
  </ion-content>
</ion-view>