<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view class="bg-yellow">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>

  <ion-tabs class="tabs-icon-top tabs-color-active-energized bg-yellow">

    <!-- Organigrama Tab -->
    <ion-tab title="Organigrama Filosófico" icon-on="ion-ios-analytics" icon-off="ion-ios-analytics-outline" href="#/app/comunidad/filosofia" class="bg-yellow border-yellow">
      <ion-nav-view name="tab-filosofia"></ion-nav-view>
    </ion-tab>

    <!-- APADAVI Tab -->
    <ion-tab title="APADAVI" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" href="#/app/comunidad/apadavi" class="bg-yellow border-yellow">
      <ion-nav-view name="tab-apadavi"></ion-nav-view>
    </ion-tab>

    <!-- Sociedad de Honor Tab -->
    <ion-tab title="Sociedad de Honor" icon-on="ion-ribbon-a" icon-off="ion-ribbon-a" href="#/app/comunidad/sociedadhonor" class="bg-yellow border-yellow">
      <ion-nav-view name="tab-sociedadhonor"></ion-nav-view>
    </ion-tab>  

    <!-- Sociedad de Honor Tab -->
    <ion-tab title="Promociones" icon-on="ion-university" icon-off="ion-university" href="#/app/comunidad/promociones" class="bg-yellow border-yellow">
      <ion-nav-view name="tab-promociones"></ion-nav-view>  
    </ion-tab>      
  </ion-tabs>
</ion-view>