<ion-view view-title="Configuración">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
	</ion-nav-buttons>  
	<ion-content class="padding bg-yellow">    
    <h2 class="text-center">Configuraci&oacute;n</h2>
    <div class="card bg-yellow-dark">
      <div id="promocion">
        <div class="item item-icon-left item-icon-right item-text-wrap bg-yellow text-blue" ng-click="openModalPassword()">
          <i class="icon ion-locked"></i> Cambiar Contrase&ntilde;a <i class="icon ion-ios-arrow-right"></i>
        </div>
        <div class="item item-icon-left item-icon-right item-text-wrap bg-yellow text-blue" ng-click="logout()">
          <i class="icon ion-power"></i> Cerrar Sesi&oacute;n <i class="icon ion-ios-arrow-right"></i>
        </div>
      </div>
    </div>
    <div class="text-center">
      <span>v1.1.22 &copy; Instituto Leonardo Da Vinci 2019</span>
    </div>
  </ion-content>
</ion-view>