<ion-view view-title="Inicio" class="bg-yellow">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>    
  <ion-content scroll="true" class="content has-header">
    <div class="list condensed-space no-padding animate-blinds row">
      <div class="card text-center purple noborder circled col">
          <a class="item purple noborder" href="#/app/horarios">
              <br>
              <i class="icon ion-document-text" style="font-size: 60px;"></i><br><br> 
              
          </a>
      </div>
      <div class="card text-center darkpink noborder circled col">
          <a class="item darkpink noborder" href="#/app/circulares">
              <br>
              <i class="icon ion-ios-paper-outline" style="font-size: 60px;"></i><br><br> 
              
          </a>
      </div>
      <div class="card text-center darkpink noborder circled col">
          <a class="item noborder" href="#/app/calendario">      
              <br>
              <i class="icon ion-calendar" style="font-size: 60px;"></i><br><br>
              
          </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b>Horarios</b><br>
      </div>
      <div class="col">
        <b>Circulares</b><br>
      </div>
      <div class="col">
        <b>Calendario Escolar</b><br>
      </div>
    </div>
  </ion-content>
</ion-view>
