<ion-view view-title="Inicio" class="bg-yellow">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>    
  <ion-content scroll="true" class="content has-header">
    <div class="list condensed-space no-padding animate-blinds">
      <div class="card text-center purple noborder">
          <a class="item darkpink noborder" href="#/app/circulares">
              <br>
              <i class="icon ion-ios-paper-outline" style="font-size: 60px;"></i><br>Circulares<br> 
              
          </a>
      </div>
      <div class="card text-center darkpink noborder">
          <a class="item darkpink noborder" href="#/app/calendario">
              <br>
              <i class="icon ion-calendar" style="font-size: 60px;"></i><br>Calendario Escolar<br> 
              
          </a>
      </div>
      <div class="card text-center darkpink noborder">
          <a class="item darkpink noborder" href="#/app/apadavi">      
              <br>
              <i class="icon ion-ios-people" style="font-size: 60px;"></i><br>APADAVI<br>
          </a>
      </div>
       <div class="card text-center darkpink noborder">
          <a class="item darkpink noborder" href="#/app/deportivas">      
              <br>
              <i class="icon ion-flag" style="font-size: 60px;"></i><br>Actividades Deportivas<br>
          </a>
      </div>     
    </div>
  </ion-content>
</ion-view>
