<ion-modal-view on-swipe-down="closeModalCircular()">
    <ion-header-bar class="bar bar-energized">
      <h1 class="title">{{circular.circular_nombre}}</h1>
      <button class="button button-icon icon ion-ios-close-outline energized" ng-click="closeModalCircular()"></button>
    </ion-header-bar>	
	<ion-content class="padding bg-yellow image-modal transparent">
		<ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false" overflow-scroll="false" zooming="true" min-zoom="1" style="width: 100%; height: 100%" >
			 <div class="image" style="background-image: url({{url+''+circular.circular_foto}});"></div>
		</ion-scroll>
	</ion-content>
</ion-modal-view>