<ion-view view-title="Calificaciones" class="bg-yellow" ng-init="init()">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" scroll="true" class="content has-header">
        <ion-refresher on-refresh="doRefresh()" pulling-text="Recargar..." refreshing-text="Cargando..."></ion-refresher>
        <h5 class="energized text-center"><b>REPORTE DE CALIFICACIONES</b></h5>
        <h5 class="energized text-center"><b>A&ntilde;o Escolar 2018-2019</b></h5>
        <div class="card">
            <div class="item item-divider item-energized">
                <h3 style="color: white !important;"><b>Datos del Estudiante</b></h3>
            </div>
            <div class="bg-yellow">
                <div class="row responsive-sm">
                    <p class="col small-line"><small>Alumno(a): <b>{{ estudiante.Nombre1 }} {{ estudiante.Nombre2 }} {{ estudiante.Apellido1 }} {{ estudiante.Apellido2 }}</b></small></p>
                </div>
                <div class="row responsive-sm">
                    <p class="col small-line"><small>Matrícula: <b>{{ estudiante.Matricula }}</b></small></p>
                    <p class="col small-line"><small>Curso: <b>{{ estudiante.Curso }}</b></small></p>
                </div>
                <div class="row responsive-sm">
                    <p class="col small-line"><small>Sección: <b>{{ estudiante.Seccion }}</b></small></p>
                    <p class="col small-line"><small>Nivel: <b>{{ estudiante.Nivel }}</b></small></p>
                    <p class="col small-line"><small>Año Escolar: <b>2018-2019</b></small></p>
                </div>                   
            </div>
        </div>
        <div class="text-center" ng-if="estudiante.IdCurso < 12">Este estudiante no tiene calificaciones num&eacute;ricas.</div>
        <div class="card bg-yellow" ng-if="estudiante.IdCurso > 12">
            <ion-scroll direction="x" class="padding wide-as-needed">
                <div class="item item-header item-energized row row-item min-500">
                    <div class="col col-left min-175">Asignatura</div>
                    <div class="col col-right min-10">EV1</div>
                    <div class="col col-right min-10">EV2</div>
                    <div class="col col-right min-10">PROM<br>SEM1</div>
                    <div class="col col-right min-10">EV3</div>
                    <div class="col col-right min-10">EV4</div>
                    <div class="col col-right min-10">PROM<br>SEM2</div>
                    <div class="col col-right min-10">PROM<br>FINAL</div>
                    <div class="col col-right min-10">COMPL</div>
                    <div class="col col-right min-10">EXT</div>  
                </div>
                <div ng-if="!publicada.nivel" class="text-center bg-yellow">No hay calificaciones publicadas para este estudiante.</div>
                <div ng-if="publicada.nivel" class="item row row-item min-500 bg-yellow" ng-repeat="row in notas | orderBy:predicate:desc">
                    <div class="col col-left min-175">{{ row.Asignatura }}</div>
                    <div class="col col-right col-sep min-10"><span ng-if="publicada.ev1">{{ row.EV1 | number:0 }}</span></div>
                    <div class="col col-right col-sep min-10"><span ng-if="publicada.ev2">{{ row.EV2 | number:0 }}</span></div>
                    <div class="col col-right col-sep min-10"><span ng-if="publicada.prom1">{{ row.prom1 | number:0 }}</span></div>
                    <div class="col col-right col-sep min-10"><span ng-if="publicada.ev3">{{ row.EV3 | number:0 }}</span></div>
                    <div class="col col-right col-sep min-10"><span ng-if="publicada.ev4">{{ row.EV4 | number:0 }}</span></div>
                    <div class="col col-right col-sep min-10"><span ng-if="publicada.prom2">{{ row.prom2 | number:0 }}</span></div>
                    <div class="col col-right col-sep min-10"><span ng-if="publicada.promf">{{ row.promf | number:0 }}</span></div>
                    <div class="col col-right col-sep min-10"><span ng-if="publicada.compl">{{ row.compl | number:0 }}</span></div>
                    <div class="col col-right col-sep min-10"><span ng-if="publicada.ext">{{ row.ext | number:0 }}</span></div>
                </div>
                <div></div>
            </ion-scroll>
        </div>
        <div class="card" ng-if="estudiante.IdCurso > 12">
            <div class="item item-divider item-energized">
                <h3 style="color: white !important;"><b>Leyenda</b></h3>
            </div>
            <div class="bg-yellow">
                <div class="row">
                    <p class="col col-50 small-line"><small><b>EV</b> = Evaluación </small></p>
                    <p class="col col-50 small-line"><small><b>SEM</b> = Semestre</small></p>
                </div>
                <div class="row">
                    <p class="col col-50 small-line"><small><b>PROM</b> = Promedio </small></p>
                    <p class="col col-50 small-line"><small><b>COMPL</b> = Completivo</small></p>
                </div>
                <div class="row">
                    <p class="col col-50 small-line"><small><b>EXT</b> = Extraordinario</small></p>
                </div>
            </div>
        </div>
        &nbsp;
    </ion-content>
</ion-view>