<ion-view view-title="Calificaciones" class="bg-yellow" ng-init="init()">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" scroll="true" class="content has-header">
        <ion-refresher on-refresh="doRefresh()" pulling-text="Recargar..." refreshing-text="Cargando..."></ion-refresher>
        <h5 class="energized text-center" ng-if="estudiante.IdCurso <= 12"><b>REPORTES DE PROGRESOS</b></h5>
        <h5 class="energized text-center" ng-if="estudiante.IdCurso > 12"><b>REPORTE DE CALIFICACIONES</b></h5>
        <h5 class="energized text-center"><b>A&ntilde;o Escolar {{estudiante.Codigo}}</b></h5>
        <div class="card">
            <div class="item item-divider item-energized">
                <h3 style="color: white !important;"><b>Datos del Estudiante</b></h3>
            </div>
            <div class="bg-yellow" style="font-size: 0.85em;">
                <div class="row responsive-sm">
                    <p class="col"><small>Matrícula: <b>{{ estudiante.Matricula }} - {{ estudiante.Nombre1 }} {{ estudiante.Nombre2 }} {{ estudiante.Apellido1 }} {{ estudiante.Apellido2 }}</b></small></p>
                </div>
                <div class="row responsive-sm">
                    <div class="row">
                        <p class="col-33"><small>Curso: <b>{{ estudiante.Curso }} {{ estudiante.Seccion }} - NIVEL {{ estudiante.Nivel }}</b></small></p>
                    </div>
                </div>                   
            </div>
        </div>
        <div class="card bg-yellow" ng-if="estudiante.IdCurso <= 12">
            <div ng-if="!publicada.nivel || reportesProgresos.length == 0" class="item item-text-wrap text-center bg-yellow">No hay reportes de progresos publicados para este estudiante.</div>
            <ion-list class="bg-yellow-dark" ng-if="publicada.nivel">
              <div ng-repeat="reporteProgreso in reportesProgresos" id="reporteProgreso">
                <ion-item class="item item-divider item-energized item-text-wrap" ng-click="toggleGroup(reporteProgreso)" ng-class="{active: isGroupShown(reporteProgreso)}" id="reporteProgreso" style="font-size: 0.95em; border-bottom: 2px solid #000;" ng-if="publicada.ev1 || publicada.ev2 || publicada.ev3 || publicada.ev4">
                  <i class="icon" ng-class="isGroupShown(reporteProgreso) ? 'ion-minus' : 'ion-plus'"></i> &nbsp;
                  <b ng-if="reporteProgreso.Periodo == 1"> Reporte de Progreso Primera Evaluaci&oacute;n</b>
                  <b ng-if="reporteProgreso.Periodo == 2"> Reporte de Progreso Segunda Evaluaci&oacute;n</b>
                  <b ng-if="reporteProgreso.Periodo == 3"> Reporte de Progreso Tercera Evaluaci&oacute;n</b>
                  <b ng-if="reporteProgreso.Periodo == 4"> Reporte de Progreso Cuarta Evaluaci&oacute;n</b>
                </ion-item>
                <ion-item class="item item-text-wrap text-center bg-yellow" ng-if="!publicada.ev1 && !publicada.ev2 && !publicada.ev3 && !publicada.ev4">No hay reportes de progresos publicados para este estudiante.</ion-item>
                <div ng-show="isGroupShown(reporteProgreso)" class="item-accordion" id="promocion">
                  <ion-item class="item bg-yellow-dark item-text-wrap" style="font-size: 0.95em">
                    <p class="text-right">Fecha:
                        <b ng-if="reporteProgreso.Periodo == 1">Octubre {{reporteProgreso.Fecha | date: 'yyyy'}}</b>
                        <b ng-if="reporteProgreso.Periodo == 2">Diciembre {{reporteProgreso.Fecha | date: 'yyyy'}}</b>
                        <b ng-if="reporteProgreso.Periodo == 3">Marzo {{reporteProgreso.Fecha | date: 'yyyy'}}</b>
                        <b ng-if="reporteProgreso.Periodo == 4">Junio {{reporteProgreso.Fecha | date: 'yyyy'}}</b>
                    </p>
                    <b><u>Fortalezas</u></b><br> {{reporteProgreso.Fortalezas}}<br><br>
                    <b><u>Aspectos a mejorar</u></b><br> {{reporteProgreso.Mejoras}}<br><br>
                    <b><u>Recomendaciones de el/la maestro/a</u></b><br> {{reporteProgreso.Recomendaciones}}<br><br>
                    <b><u>Comentarios</u></b><br> {{reporteProgreso.Comentarios}}
                    <p class="text-right">Profesor/a: <b>{{reporteProgreso.ProfesorNombre}} {{reporteProgreso.ProfesorApellido}}</b>
                  </ion-item>
                </div>
              </div>
            </ion-list>            
        </div>
        <div class="card bg-yellow" ng-if="estudiante.IdCurso > 12">
            <ion-scroll direction="x" class="padding">
                <!--<table ng-if="publicada.nivel">
                    <thead>
                        <tr class="row row-item item item-header item-energized">
                            <td class="col col-left">Asignatura</td>
                            <td class="col col-right min-10">EV1</td>
                            <td class="col col-right min-10">EV2</td>
                            <td class="col col-right min-10">PROM<br>SEM1</td>
                            <td class="col col-right min-10">EV3</td>
                            <td class="col col-right min-10">EV4</td>
                            <td class="col col-right min-10">PROM<br>SEM2</td>
                            <td class="col col-right min-10">PROM<br>FINAL</td>
                            <td class="col col-right min-10">COMPL</td>
                            <td class="col col-right min-10">EXT</td>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr class="row row-item item bg-yellow" ng-repeat="nota in notas | orderBy:predicate:desc">
                            <td class="col"><div style="word-wrap: break-word;">{{nota.Asignatura | limitTo: 20}}</div></td>
                            <td class="col col-sep col-right min-10"><span ng-if="publicada.ev1">{{ nota.EV1 | number:0 }}</span></td>
                            <td class="col col-sep col-right min-10"><span ng-if="publicada.ev2">{{ nota.EV2 | number:0 }}</span></td>
                            <td class="col col-sep col-right min-10"><span ng-if="publicada.prom1">{{ nota.prom1 | number:0 }}</span></td>
                            <td class="col col-sep col-right min-10"><span ng-if="publicada.ev3">{{ nota.EV3 | number:0 }}</span></td>
                            <td class="col col-sep col-right min-10"><span ng-if="publicada.ev4">{{ nota.EV4 | number:0 }}</span></td>
                            <td class="col col-sep col-right min-10"><span ng-if="publicada.prom2">{{ nota.prom2 | number:0 }}</span></td>
                            <td class="col col-sep col-right min-10"><span ng-if="publicada.promf">{{ nota.promf | number:0 }}</span></td>
                            <td class="col col-sep col-right min-10"><span ng-if="publicada.compl">{{ nota.compl | number:0 }}</span></td>
                            <td class="col col-sep col-right min-10"><span ng-if="publicada.ext">{{ nota.ext | number:0 }}</span></td>
                        </tr>
                    </tbody> 
                </table>-->
                <div class="item item-header item-energized row row-item min-500" ng-if="publicada.nivel">
                    <div class="col col-left min-200">Asignatura</div>
                    <div class="col col-right min-10">EV1</div>
                    <div class="col col-right min-10">EV2</div>
                    <div class="col col-right min-10">PROM<br>SEM1</div>
                    <div class="col col-right min-10">EV3</div>
                    <div class="col col-right min-10">EV4</div>
                    <div class="col col-right min-10">PROM<br>SEM2</div>
                    <div class="col col-right min-10">PROM<br>FINAL</div>
                    <div class="col col-right min-10">COMPL</div>
                    <div class="col col-right min-10">EXT</div>  
                </div>
                <div ng-if="!publicada.nivel" class="item item-text-wrap text-center bg-yellow">No hay calificaciones publicadas para este estudiante.</div>
                <div ng-if="publicada.nivel" class="item row row-item min-500 bg-yellow" ng-repeat="nota in notas | orderBy:predicate:desc">
                    <div class="col col-left min-200">{{ nota.Asignatura | limitTo:25}}{{nota.Asignatura.length < 30 ? '' : '...'}}</div>
                    <div class="col col-right col-sep min-10"><span ng-if="publicada.ev1">{{ nota.EV1 | number:0 }}</span></div>
                    <div class="col col-right col-sep min-10"><span ng-if="publicada.ev2">{{ nota.EV2 | number:0 }}</span></div>
                    <div class="col col-right col-sep min-10"><span ng-if="publicada.prom1">{{ nota.prom1 | number:0 }}</span></div>
                    <div class="col col-right col-sep min-10"><span ng-if="publicada.ev3">{{ nota.EV3 | number:0 }}</span></div>
                    <div class="col col-right col-sep min-10"><span ng-if="publicada.ev4">{{ nota.EV4 | number:0 }}</span></div>
                    <div class="col col-right col-sep min-10"><span ng-if="publicada.prom2">{{ nota.prom2 | number:0 }}</span></div>
                    <div class="col col-right col-sep min-10"><span ng-if="publicada.promf">{{ nota.promf | number:0 }}</span></div>
                    <div class="col col-right col-sep min-10"><span ng-if="publicada.compl">{{ nota.compl | number:0 }}</span></div>
                    <div class="col col-right col-sep min-10"><span ng-if="publicada.ext">{{ nota.ext | number:0 }}</span></div>
                </div>
                <div></div>
            </ion-scroll>
        </div>
        <div class="card" ng-if="estudiante.IdCurso > 12">
            <div class="item item-divider item-energized">
                <h3 style="color: white !important;"><b>Leyenda</b></h3>
            </div>
            <div class="bg-yellow">
                <div class="row">
                    <p class="col col-50 small-line"><small><b>EV</b> = Evaluación </small></p>
                    <p class="col col-50 small-line"><small><b>SEM</b> = Semestre</small></p>
                </div>
                <div class="row">
                    <p class="col col-50 small-line"><small><b>PROM</b> = Promedio </small></p>
                    <p class="col col-50 small-line"><small><b>COMPL</b> = Completivo</small></p>
                </div>
                <div class="row">
                    <p class="col small-line"><small><b>EXT</b> = Extraordinario</small></p>
                </div>
            </div>
        </div>
        &nbsp;
    </ion-content>
</ion-view>