<ion-view view-title="Sociedad de Honor">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>	
	<ion-content class="padding bg-yellow">
		<h2 class="text-center">Sociedad de Honor "Saper Vedere"</h2>
		<div class="row">
			<div class="col">
				<h3>Selección de la Sociedad de Honor</h3>
				<p>La Sociedad de Honor es una representación de los/as estudiantes más destacados académicamente y que mejor modelan los valores humanos y el crecimiento emocional e intelectual del Instituto de Desarrollo Integral Leonardo Da Vinci. Está constituida por los/as estudiantes de 4to. de Nivel Primario a 12do. de Nivel Secundario, cuyas calificaciones sean de 90 ó más en el promedio de todas las asignaturas y/o con una sola calificación debajo de 90, pero no menos de 85 por asignatura por período (no se toma en cuenta los exámenes semestrales).</p>
				<p>Para permanecer en la misma los/as estudiantes deben: mantener las calificaciones que merecieron su selección, participar puntualmente en todas las actividades a que asista la Guardia de Honor (ensayos, desfiles, presentaciones, etc.) conducirse con decoro y solemnidad en los actos en que represente la institución, colaborar en lo que sea necesario para el buen desenvolvimiento de las actividades.</p>
				<p>
				Ellos/as representan lo mejor de nosotros y se agrupan como Guardia de Honor teniendo una participación destacada en los actos cívicos del colegio y de otras instituciones cuando son invitados. En caso de inasistencia, debe presentar a la coordinación excusa por escrito, firmada por los padres o tutores. Cada estudiante cuando ingresa por primera vez recibe un reglamento donde están todas las pautas necesarias para su permanencia.</p>
			</div>
		</div>
	</ion-content>
</ion-view>	