<ion-view view-title="APADAVI">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>	
	<ion-content class="padding bg-yellow">
		<h2 class="text-center">Padres, Maestros y tutores</h2>
		<p>Sobre las Sociedades de Padres, Madres y Amigos de las Instituciones Educativas, según dispone el Ministerio de Educación de la República Dominicana.</p>
		<div>
			<p>
				La Asociación de Padres, Madres y Amigos se organiza con el propósito de que éstos se involucren en el proceso de aprendizaje de sus hijos e hijas, del cuidado del patrimonio escolar y la relación armoniosa entre el centro educativo, las familias y la comunidad.
			</p>
			<p>
				Estas asociaciones trabajan como apoyo solidario con la Dirección del centro educativo y sirven además de acompañantes pedagógicos y afectivos a los docentes en las labores ordinarias.
			</p>
			<p>
				Según la Orden Departamental de la Ley de Educación No.66-97 en su artículo II: Se instruye a los fines correspondientes para que la Escuela de Padres, Madres, Amigos y Tutores en materia educativa y social, relacionadas con el quehacer educativo nacional y con el conocimiento de los avances de la educación, la cultura, la ciencia y la tecnología.
			</p>
			<p>Y en su artículo VII define las siguientes funciones: </p>
		</div>
		<ul class="card">
			<li class="item item-text-wrap bg-yellow-dark">
				Promover la formación de los padres y las madres en el ámbito de los valores universales, sociales e instrumentales, la educación adecuada de sus hijos e hijas, la prevención asertiva frente a los principales problemas que aquejan a la niñez, los/las adolescentes y a los/las jóvenes en edad escolar.
			</li>
			<li class="item item-text-wrap bg-yellow-dark">
				Motivar permanentemente a los padres y madres a participar en las actividades educativas formales y no formales que se promuevan en el centro con el propósito de lograr una educación de calidad.
			</li>
			<li class="item item-text-wrap bg-yellow-dark">
				Capacitar a los padres y madres en materia educativa con el propósito de involucrarlos de manera eficiente en el desarrollo curricular, disciplina escolar, mantenimiento de la planta física y gestión de recursos materiales y financieros.
			</li>
		</ul>
	</ion-content>
</ion-view>	